.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  border-radius: 10px;
  background-color: #fff;
  padding: 36px 50px 32px;
  width: 100%;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: none;
  width: auto;
}

.modal__container.modal__container_delete_card {
  width: 630px;
  padding: 32px 20px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  background-image: url(../images/x.svg);
  width: 40px;
  height: 40px;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px;
  background-color: transparent;
  cursor: pointer;
}

.modal__close-button_delete_card {
  position: relative;
  background-image: url(../images/x-wht.svg);
  right: -350px;
  color: #fff;
}

.modal__close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-button_type_preview {
  background-image: url(../images/previewClose.svg);
  position: absolute;
  top: 0px;
  margin-left: 12.5px;
  left: 100%;
  opacity: 100%;
}

.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  display: block;
  padding: 4px 8px;
  margin-top: 8px;
  width: fit-content;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #212121;
}

.modal__title.modal__title_delete_card {
  font-size: 24px;
  justify-self: center;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  gap: 8px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  line-height: 17.6px;
  font-size: 16px;
}

.modal__input {
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-weight: 500;
  line-height: 20px;
  padding: 16px 12px;
  cursor: pointer;
}

.modal__form.modal__form_delete_card {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal__form input.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
  opacity: 1;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input:focus {
  border: 1px solid #212121;
  outline: none;
  cursor: text;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-size: 16px;
}

.modal__submit-button {
  border: none;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 156px;
  padding: 18px;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
}

.modal__submit-button_delete_card {
  background-color: #ff6565;
  color: #212121;
}

.modal__submit-button.modal__submit-button_delete_card:hover {
  background-color: #ff3333;
  opacity: 1;
}

.modal__submit-button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.modal__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__cancel-button {
  border: 1px solid #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 156px;
  padding: 18px;
  border-radius: 8px;
  color: #212121;
  background-color: transparent;
}

.modal__cancel-button:hover {
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .modal__close-button.modal__close-button_delete_card {
    top: -16px;
    right: -300px;
    z-index: 10;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_type_preview {
    display: flex;
    flex-direction: column;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
    line-height: 20px;
  }

  .modal__title.modal__title_delete_card {
    font-size: 20px;
    text-align: center;
    line-height: 120%;
  }

  .modal__form.modal__form_delete_card {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
  }

  .modal__container.modal__container_delete_card {
    width: 300px;
    padding: 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    position: absolute;
    bottom: 100%;
    margin: -52.5px -52.5px auto;
    opacity: 100%;
    padding: 0;
  }

  .modal__close-button.modal__close-button_delete_card {
    top: -16px;
    right: -140px;
    z-index: 10;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }

  .modal__submit-button.modal__submit-button_delete_card {
    width: 156px;
  }

  .modal__cancel-button {
    width: 156px;
  }
}

@media screen and (max-width: 363px) {
  .modal__image {
    min-width: 288px;
  }
}
